[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pyopenssl = "*"

[packages]
flask = "*"
flask-login = "*"
requests = "*"
authlib = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
mysqlclient = "*"

[requires]
python_version = "3.6"
